/* hello world */
/* this is a test */

.barChartOuterContainer {
  width: 50%;
  margin: auto;
}

.barChartName {
  width:7%;
  display: inline-block;
}

#stack1 {
  background-color: midnightblue;
  display: inline-block;
  width:50%;
}

#stack2 {
  background-color: palegreen;
  display: inline-block;
  width:25%;
}
