/* hello world */
/* this is a test */

.barChartOuterContainer {
  width: 50%;
  margin: auto;
}

.ticker {
  display: inline-block;
}

#ticker1 {
  position:relative;
  left:20%;
}

#ticker2 {
  position:relative;
  left:40%;
}

#ticker3 {
  position:relative;
  left:60%;
}

.barChartName {
  width:7%;
  display: inline-block;
}

.barChartAxis {
  font-size: 24pt;
}

#stack1 {
  background-color: midnightblue;
  display: inline-block;
  width:50%;
}

#stack2 {
  background-color: palegreen;
  display: inline-block;
  width:25%;
}
